{:hz-client {:addresses ["127.0.0.1" "127.0.0.1"]        ;; will have real IP/hosnames
             :time-between-connection-retries-ms 5000
             :retry-max 720000}}                         ;; 720000 * 5000 = one hour
